
<h1>Teste do Menu</h1>
<div class="navbar sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">                        
            <li>
                <a class="active" href=""><i class="fa fa-dashboard fa-fw"></i> <strong>Principal</strong></a>
            </li>
            <li>
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Cadastros<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Forma de Pagamento</a>
                    </li>
                    
                    <li>
                        <a  href="">Categoria - Financeiro</a>
                    </li>
                    
                
                    
                                                 
                    
                </ul>
        </li>	
                        <li>
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Estoque<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Grupos</a>
                    </li>
                    
                    <li>
                        <a  href="">Itens</a>
                    </li>

                    <li>
                        <a href="">Terapias</a>
                    </li>
                    
                
                                                 


                    
                </ul>
                </li>
                <li>

                
                                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Contas a Pagar<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Fornecedor</a>
                    </li>
                    
                    <li>
                        <a  href="">Titulos</a>
                    </li>

                    
                
                    <li>
                        <hr  />  
                    </li>  
                                                 


                    
                </ul>
               </li>
               <li> 
                
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Contas a Receber<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Interagentes</a>
                    </li>
                    
                    <li>
                        <a  href="">Titulos</a>
                    </li>

                    
                
                    <li>
                        <hr  />  
                    </li>  
                                                 


                    
                </ul>
           </li>
           <li>
                
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Faturamento<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Venda Avulsa</a>
                    </li>
                    
                    <li>
                        <hr  />  
                    </li>  
                                                 


                    
                </ul>
          </li>
          <li>
                
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Folha de Pagamento<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Funcionario</a>
                    </li>
                    
                    <li>
                        <a href="">Adiantamento</a>
                    </li>

                    <li>
                        <a  href="">Terapeuta</a>
                    </li>
                    
                
                    <li>
                        <hr  />  
                    </li>  
                                                 


                    
                </ul>
                </li>
                <li>
                
                <a  href="#"><i class="fa fa-pencil-square-o fa-fw"></i>Hospedagem<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                                                                               
                    <li>
                        <a  href="">Entrada</a>
                    </li>
                    
                    <li>
                        <a  href="">Inclusão de Item</a>
                    </li>

                    <li>
                        <a  href="">Fechamento</a>
                    </li>
                    
                
                    <li>
                        <hr  />  
                    </li>  
                                                 


                    
                </ul>
                </li>
            </li>
            
            
        </ul>
    </div>